PORT=5000
MONGO_URI=mongodb+srv://vishnubangaru002_db_user:Vishnu7667@cluster0.i6baxat.mongodb.net/nexora?retryWrites=true&w=majority
JWT_SECRET=nexora_super_secret_jwt_key_2026_premium_networking
JWT_EXPIRE=30d
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Cloudinary Storage for Production Image Uploads
CLOUDINARY_CLOUD_NAME=dbctbgoum
CLOUDINARY_API_KEY=514764952343218
CLOUDINARY_API_SECRET=2POvcjaWeu6X99pgMs_MOD2ulIw
