# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
.env.production

# Uploaded assets in local storage
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
